<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.mapper.RoleMapper" >

<sql id="Base_List">
	id,name,description,isDeleted
</sql>

  	<insert id="insert" parameterType="Role">
		insert into t_roles
        	(name,description)
        values
        	(#{name},#{description})
    </insert>
    
    <update id="update" parameterType="Role">
    	update t_roles 
	    	set name=#{name},
	    		description=#{description}    		  		    		    		
	    	where id=#{id}
    </update>
   
    <delete id="delete" parameterType="long">
    	delete from t_roles 
    		where id=#{id}
    </delete>
    
    <select id="select" parameterType="Role" resultType="Role">
    	select 
    	<include refid="Base_List" />
    	from t_roles
 		   	where isDeleted=false
    	<if test="id!=null"> and id=#{id} </if>
    	<if test="name!=null"> and name=#{name} </if>
    	<if test="description!=null"> and description=#{description} </if>
    </select> 

    <!-- 分页查询 -->
    <select id="selectByPage" parameterType="map" resultType="Role">
    	select 
    	<include refid="Base_List" />
    	from t_roles
 		   	where isDeleted=false
	    	limit #{currPage},#{pageSize}
    </select>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="Long">
    	select 
    		count(id)
    	from t_roles
 		   	where isDeleted=false
    </select> 



</mapper>
